#checkout {
  h5 {
    i {
      font-size: .7em;
    }

    &::before {
      content: attr(data-nr);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      margin-left: -2em;
      font-size: .6em;
      font-weight: bold;
      color: #fff;
      background-color: #616161;
      border-radius: 50%;
    }

    @media (max-width: 839px) {
      margin-left: 1em;
    }
  }

  .fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .mdl-textfield {
      width: calc(50% - .5em);
      &--fullwidth {
        width: 100%;
      }

      &--credit-card {
        &::after {
          content: '';
          display: inline-block;
          width: 20px;
          height: 6px;
          position: absolute;
          margin-left: calc(100% - 1em - 22px);
          margin-top: -2em;
          padding: .5em;
          background: url('../images/visa-min.png') no-repeat center;
          background-size: 85%;
          border: 1px solid rgba(0,0,0,.12);
          border-radius: .2em;
        }
      }

      #securityTooltip {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        margin-left: calc(100% - 2em);
        margin-top: -2.25em;
        opacity: .5;
        font-size: .7em;
        font-weight: bold;
        border-radius: 50%;
        border: 1px solid;
        cursor: pointer;
      }
    }
  }

  .mdl-card {
    margin-left: 3em;
    padding: .5em;
    @media (max-width: 839px) {
      margin-left: 0;
      width: 100%;
    }

    .card-inner-wrapper {
      padding: .5em;
      border: 1px dashed rgba(0,0,0,.12);

      h6 {
        margin: 0;
      }

      .mdl-list {
        margin: 0;
        padding: .5em 0;
        border-bottom: 1px dashed rgba(0,0,0,.12);

        &:last-child {
          border-bottom: none;

          .mdl-list__item {
            font-weight: bold;

            span:last-child {
              font-size: 1.5em;
            }
          }
        }

        &__item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: .5em 0;
          min-height: 0;
        }
      }
    }
  }

  .mdl-button {
    margin: 1em 0;
    width: 100%;
    padding: .5em;
    height: unset;
    font-weight: bold;
  }
}